@use "sass:math";
@import "base";

/*
  Frontend styles
 */
@import "./node_modules/drowl-sass-base/modules/drowl_paragraphs/global";

// Remove margin bottom for the last child - users need to have full control
// about the Paragraphs spacings.
.paragraph--type-text {
  > :last-child {
    margin-bottom: 0;
  }
}

// Quickfix: Container Slideshows growing > 100% width
// Maybe its the combination with the max-width modifier
// classes.
.paragraph--type-container-slides {
  width: 100%;
}

// Unpublished Label
.paragraph__unpublished-label {
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  font-size: var(--drowl-font-size-small);
  font-weight: var(--drowl-font-weight-bold);
  border-radius: var(--drowl-border-radius-small);
  background-color: var(--drowl-info);
  color: var(--drowl-info-text);
  margin-bottom: 0.5em;
  &::before {
    @include get-ico-only(
      $drowl-admin-ico-eye-blocked,
      $iconfont-family: $admin-iconfont-family
    );
    margin-right: 0.35em;
  }
}

// Equal height groups
.paragraph--height-equalized {
  min-height: var(--equal-height-group-height);
}
