
// Enhande responsive behavoir
.flipdown{
  display:flex;
  width:auto;
  *{
    user-select:none;
  }
  .rotor-group-heading{
    flex:0 0 100%;
    width:100%;
    &::before{
      // Colorize text by its context
      color: currentColor !important;
      white-space:nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 639px) {
        font-size:.6rem;
      }
    }
  }
  .rotor-group{
    display:flex;
    flex-flow:row wrap;
    width:135px;
    @media screen and (max-width: 639px) {
      width:72px;
    }
    &::before,
    &::after{
      // Colorize time devider dots by its context
      background-color: currentColor !important;
    }
    // Time Devider dots
    &:nth-child(n+2):nth-child(-n+3)::after,
    &:nth-child(n+2):nth-child(-n+3)::before{
      @media screen and (max-width: 639px) {
        width:5px;
        height:5px;
        left:58px;
      }
    }
    &:last-child{
      width:105px;
      @media screen and (max-width: 639px) {
        width:52px;
      }
    }
  }
  .rotor{
    @media screen and (max-width: 639px) {
      font-size: 1.5rem;
    }
  }
  // Equal width elements
  .rotor,
  .rotor::after,
  .rotor-leaf,
  .rotor-leaf-front,
  .rotor-leaf-rear,
  .rotor-top,
  .rotor-bottom{
    @media screen and (max-width: 639px) {
      width:24px;
    }
  }
}

.text-center{
  // center countdown if center class on paragraph is set
  .countdown{
    justify-content: center;
  }
}
