//  Paragraphs ADD-Dialog List style - fix reserved space for the Paragraph-Icons to fit our icon format
ul.paragraphs-add-dialog-list input.field-add-more-submit {
  padding-left: 60px;
}

// Prevent text selection inside the slideshow to have a better
// drag & drop experience.
.paragraph--view-mode--preview {
  user-select: none;
}
