@use "sass:math";
@import "../base";

.field--type-drowl-paragraphs-settings {
  .horizontal-tabs-pane[data-drupal-selector*="style-spacing"]
    > .details-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--drowl-space-md);
    > *:not(.margin-wrapper):not(.spacings-preview) {
      grid-column: 1 / -1;
    }
    > .form-item {
      margin-block: 0;
    }
  }
}

.margin-wrapper,
.padding-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.margin-wrapper {
  // TODO: Replace colors with drowl css vars
  position: relative;
  background-color: var(--drowl-success-light);
  border: 1px dashed var(--drowl-success);
  padding: 10px;
  width: 262px;
  height: 262px;
  border-radius: var(--drowl-border-radius-small);
  &:hover {
    border-style: solid;
  }
  // HINT: The .padding-wrapper is nested inside the .margin-wrapper,
  //       so the following styles will also apply for elements inside
  //       the .padding-wrapper.
  .form-item {
    margin: 0 !important;
    label {
      display: none;
    }
  }
  .form-select {
    width: 36px;
    height: 36px;
    min-height: 0;
    border: 1px white !important;
    background-color: white !important;
    background-image: none;
    color: black !important;
    appearance: none;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    &:hover {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.45);
      cursor: pointer;
    }
    &::-ms-expand {
      display: none;
    }
    option {
      padding: 0.25em 0.5em;
      &[selected] {
        padding: 0 !important;
        width: 50px;
        height: 14px;
        line-height: 14px;
        vertical-align: middle;
      }
    }
  }
  .content-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 42px;
    height: 42px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--drowl-info-text);
    line-height: 1;
    text-shadow: 0 1px 0px var(--drowl-info);
    &::before {
      font-size: 32px;
      // It seems the icon itself is not vertically centered, compensate this
      position: relative;
      top: 2px;
    }
  }
  .margin-label {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .padding-label {
    position: absolute;
    left: 62px;
    top: 60px;
    z-index: 2;
  }
  .padding-wrapper {
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: var(--drowl-info-light);
    border: 1px dashed var(--drowl-info);
    border-radius: var(--drowl-border-radius-small);
    padding: 10px;
    width: 150px;
    height: 150px;
    &:hover {
      border-style: solid;
    }
  }
  .form-item {
    &[class*="-top"] {
      grid-column: 2/3;
    }
    &[class*="-bottom"] {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &[class*="-left"] {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &[class*="-right"] {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
}

.spacings-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--drowl-gray-light);
  padding: 5px 10px;
  &__label {
    display: blocK;
    margin-bottom: 0.5em;
  }
  &__spacing {
    position: relative;
    background-color: var(--drowl-info-light);
    border-width: 0 2px;
    border-style: none solid;
    border-color: var(--drowl-info);
    height: 1.5rem;
    overflow: visible;
    margin-bottom: 0.5rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-width: 3px;
      border-style: solid;
      border-color: transparent transparent transparent var(--drowl-info);
    }
    &::after {
      left: auto;
      right: 0;
      border-color: transparent var(--drowl-info) transparent transparent;
    }
    > span {
      position: absolute;
      top: 50%;
      left: calc(100% + 5px);
      transform: translateY(-50%);
      background: var(--drowl-info);
      color: var(--drowl-info-text);
      font-size: 10px;
      line-height: 1;
      padding: 0.35em 0.5em;
      border-radius: 5px;
      user-select: none;
    }
  }
}
