@use "sass:math";
@import "../base";

// Add box-styles preview for the paragraph settings
@import "./node_modules/drowl-sass-base/modules/drowl_paragraphs/preview_styles";

// Layout Slideshow Preview Styles
.paragraph--type-layout-slideshow > .drowl-layout-container {
  > .drowl-layout {
    .slick--drowl-paragraphs-slideshow-layout{
      > .slick__slider {
        display: flex;
        gap: 0.5rem;
        overflow: auto;
        // Ensure the layout paragraphs controls not cropped off
        padding-top: 40px !important;
        > *:not(.js-lpb-ui) {
          flex: 0 0 auto;
          width: 230px;
        }
      }
    }
    // Show the add buttons all the time, otherwise this is kind of confusing
    // for authors
    .lpb-btn--add {
      opacity: 1;
    }
    // Roatate the move arrows
    .lpb-up,
    .lpb-down {
      transform: rotate(-90deg);
      // The first/last element style from layout paragraphs is kinda weird
      // so make the arrows always fully visible to not confuse the users
      opacity: 1 !important;
      cursor: pointer !important;
    }
    // Add buttons to left and right
    .lpb-btn--add {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      margin: 0 !important;
      &.before {
        left: auto;
        right: 5px;
      }
      &.after {
        left: 5px;
      }
    }
    // Prevent the "move up/down" animations
    .js-lpb-component {
      transform: none !important;
    }
    // Prevent content preview overflow without cropping the Layout Paragraphs
    // UI elements
    .lpb-controls ~ *:not(.lpb-btn--add) {
      overflow: hidden;
    }
  }
}
