@use "sass:math";
@import "../base";

// Box style radio button group with preview
.field--widget-drowl-paragraphs-settings-default {
  .form-item--style-boxstyle.form-radios {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 1fr;
    > .box-style {
      margin: 0;
      border-radius: 3px;
      padding: 10px;
      > .form-item {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        input {
          position: static !important;
          margin: 0 10px 0 0 !important;
          transform: none !important;
          flex: 0 0 auto;
          &:checked + label {
            border: 0 none !important;
            font-weight: 700;
          }
        }
        label {
          color: currentColor !important;
          box-sizing: border-box;
          word-break: break-word;
          font-weight: normal;
          width: 100%;
          margin: 0;
          padding: 0;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
