@use "sass:math";
@import "../base";
@import "./node_modules/drowl-sass-base/modules/drowl_paragraphs/admin";

details[id*="paragraph-settings"] {
  > summary {
    background: var(--drowl-green);
    border-color: var(--drowl-green);
    color: white !important;
    &:hover {
      color: white !important;
      background: var(--drowl-green-dark);
      border-color: var(--drowl-green-dark);
    }
    &:focus::after {
      box-shadow: inset 0 0 0 3px var(--drowl-green-dark);
    }
    &::before {
      /* Turn the arrow white without touching claros svg background image */
      filter: brightness(1000%) grayscale(100%);
    }
  }
  > .details-wrapper {
    padding: 0;
    > .horizontal-tabs {
      margin: 0 -1px -1px -1px;
    }
  }
}

.field--type-drowl-paragraphs-settings {
  > .form-wrapper > .details-wrapper {
    display: flex;
    > .horizontal-tabs {
      border: 0 none !important;
      flex: 1 1 50%;
      &:nth-child(1) {
        margin-right: 4px;
      }
      &:nth-child(2) {
        margin-left: 4px;
      }
      .horizontal-tabs-list {
        display: flex;
      }
      .horizontal-tab-button {
        > a {
          box-sizing: border-box !important;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
          &:not(:hover) {
            background-color: transparent;
          }
          &:focus {
            // Remove weird Gin box-shadow style what was probably ment for focus-visible?!
            box-shadow: none !important;
          }
          &:focus-visible {
            outline: 2px solid var(--gin-color-focus, blue);
          }
        }
      }
    }
    .form-item {
      margin-block: 10px 0;
    }
  }
  .details-description {
    margin-bottom: 1em;
    ul {
      padding-left: 0;
    }
  }
  .horizontal-tabs-panes > [class*="details"] {
    border: 0 none;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  .details-wrapper {
    .form-item--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      label {
        margin-right: 5px;
      }
      .form-item__suffix {
        margin-left: 5px;
      }
      .description {
        flex: 0 1 100%;
      }
    }
  }
}

// ============================================================================
// Icon-Tabs
// ============================================================================

.horizontal-tabs {
  background: white;
}

.field--type-drowl-paragraphs-settings {
  .horizontal-tabs ul.horizontal-tabs-list {
    // Ensure our strong-Labels are fully visible.
    overflow: visible !important;
  }
  .horizontal-tab-button {
    > strong {
      display: block;
      text-align: center;
    }
    a {
      text-align: center;
      strong {
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 999;
        font-size: 10px;
        background: #0074bd;
        color: white;
        padding: 4px;
        border-radius: 2px;
        white-space: nowrap;
      }
      &::after {
        content: "";
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 32px;
        height: 27px;
      }
      &[href*="style-spacing"]::after {
        background-image: url("../img/custom/spacings.svg");
      }
      &[href*="style-boxstyle"]::after {
        background-image: url("../img/fa/paint-brush.svg");
      }
      &[href*="style-animations"]::after {
        background-image: url("../img/fa/magic.svg");
      }
      &[href*="style-textstyle"]::after {
        background-image: url("../img/fa/align-left.svg");
      }
      &[href*="style-expert"]::after {
        background-image: url("../img/fa/user-secret.svg");
      }
    }
    &:hover a strong {
      display: block;
    }
  }
}

// DROWL Paragraphs Layouts Settings
// (for Layouts/Layout Settings defined in DROWL Paragraphs, not in DROWL
// Layouts, like the Slideshow Layout type).
// The following styles extend the drowl_layouts/admin styles.
.form-wrapper--drowl-layouts-settings-preview{
  &[id*="layout-paragraphs-config"]{
    background-size:64px !important;
    background-repeat: no-repeat !important;
    background-position-y: 12px !important;
  }
  &[id*="layout-paragraphs-config-layout-section-width-wrapper"]{
    background-image: url("../img/custom/section_width.svg") !important;
  }
  &[id*="layout-paragraphs-config-autoplay-wrapper"]{
    background-image: url("../img/custom/slideshow_autoplay.svg") !important;
  }
  &[id*="layout-paragraphs-config-auto-height-wrapper"]{
    background-image: url("../img/custom/slideshow_autoheight.svg") !important;
  }
  &[id*="layout-paragraphs-config-navigation-arrows-wrapper"]{
    background-image: url("../img/custom/slideshow_arrows.svg") !important;
  }
  &[id*="layout-paragraphs-config-navigation-dots-wrapper"]{
    background-image: url("../img/custom/slideshow_dots.svg") !important;
  }
  &[id*="layout-paragraphs-config-infinite-wrapper"]{
    background-image: url("../img/custom/slideshow_infinite.svg") !important;
  }
  &[id*="layout-paragraphs-config-center-mode-wrapper"]{
    background-image: url("../img/custom/slideshow_center_mode.svg") !important;
  }
  &[id*="layout-paragraphs-config-controls-outside-wrapper"]{
    background-image: url("../img/custom/slideshow_arrows_outside.svg") !important;
  }
  &[id*="layout-paragraphs-config-visible-elements-sm-wrapper"]{
    background-image: url("../img/custom/slideshow_slides_on_sm.svg") !important;
  }
  &[id*="layout-paragraphs-config-visible-elements-md-wrapper"]{
    background-image: url("../img/custom/slideshow_slides_on_md.svg") !important;
  }
  &[id*="layout-paragraphs-config-visible-elements-lg-wrapper"]{
    background-image: url("../img/custom/slideshow_slides_on_lg.svg") !important;
  }
}

// More specific layout preview icon for the custom slideshow layout
.layout-paragraphs-component-form .layout-select .layout-icon[class*="drowl"].layout-icon--drowl-paragraphs-type-layout-slideshow-custom{
  .layout-icon__region{
    fill: transparent !important;
    stroke-dasharray: 2,5;
    stroke-width: 2px;
    stroke-linecap: square;
    height: calc(100% - 2px);
  }
}
