{% extends "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * % extends "paragraph.html.twig" %
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{#
  TODO:
  - Set every configurable value as data attribute (even if its not a settings-field in drupal, so themers are able to override everything here)
  - Use Drupal attributes for the score-wrapper? Benefits?
#}

{% if paragraph.field_score_line_color.value.0.target_id %}
  {% set taxonomy_ref_score_line_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_score_line_color.value.0.target_id) %}
{% endif %}
{% if paragraph.field_score_bar_start_color.value.0.target_id %}
  {% set taxonomy_ref_score_bar_start_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_score_bar_start_color.value.0.target_id) %}
{% endif %}
{% if paragraph.field_score_bar_end_color.value.0.target_id %}
  {% set taxonomy_ref_score_bar_end_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_score_bar_end_color.value.0.target_id) %}
{% endif %}

{% set score_attributes = create_attribute() %}

{% set score_classes = [
  'score',
  paragraph.field_score_type.0 ? 'score--type-' ~ paragraph.field_score_type.0.value|clean_class,
  (paragraph.field_paragraphs_text.0 and paragraph.field_paragraphs_alignment.0) ? 'score--text-alignment-' ~ paragraph.field_paragraphs_alignment.0.value|clean_class,
  taxonomy_ref_score_line_color_field.0 ? 'score--line-color-' ~ taxonomy_ref_score_line_color_field.0['#context'].value|clean_class,
  taxonomy_ref_score_bar_start_color_field.0 ? 'score--bar-color-' ~ taxonomy_ref_score_bar_start_color_field.0['#context'].value|clean_class,
  taxonomy_ref_score_bar_end_color_field.0 ? 'score--bar-end-color-' ~ taxonomy_ref_score_bar_end_color_field.0['#context'].value|clean_class
] %}

{# Add settings as data attributes #}
{% if paragraph.field_score_type.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-type', paragraph.field_score_type.0.value|e('js')) %}
{% endif %}
{# Hint: We used decimal for the number fields, to have the ability supporting decimal places later on - we remove them for now (|round) #}
{% if paragraph.field_score_start.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-start', paragraph.field_score_start.0.value|round|e('js')) %}
{% endif %}
{% if paragraph.field_score_end.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-end', paragraph.field_score_end.0.value|round|e('js')) %}
{% endif %}
{% if paragraph.field_score_max.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-max', paragraph.field_score_max.0.value|round|e('js')) %}
{% endif %}
{% if paragraph.field_score_value_display.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-value-display', paragraph.field_score_value_display.0.value|e('js')) %}
{% endif %}
{% if paragraph.field_score_prefix.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-prefix', paragraph.field_score_prefix.0.value|e('html_attr')) %}
{% endif %}
{% if paragraph.field_score_suffix.0 %}
  {% set score_attributes = score_attributes.setAttribute('data-score-suffix', paragraph.field_score_suffix.0.value|e('html_attr')) %}
{% endif %}
{# Set some static values here instead in the JS file, so themers are able to override them with ease. #}
{% set score_attributes = score_attributes.setAttribute('data-score-trail-width', 1) %}
{% set score_attributes = score_attributes.setAttribute('data-score-stroke-width', 6) %}
{% set score_attributes = score_attributes.setAttribute('data-score-stroke-width-start', 1) %}
{% set score_attributes = score_attributes.setAttribute('data-score-stroke-width-end', 4) %}
{% set score_attributes = score_attributes.setAttribute('data-score-animation-duration', 1400) %}
{% set score_attributes = score_attributes.setAttribute('data-score-animation-easing', 'easeInOut') %}


{% block paragraph %}
  {{ attach_library('drowl_paragraphs_type_score/global') }}
  {{ parent() }}
{% endblock %}

{% block content %}
    <div {{ score_attributes.addClass(score_classes) }}>
      <div id="score-progressbar-{{ paragraph.id() }}" class="score__progressbar"></div>
      {% if content.field_paragraphs_text.0 %}
        <div class="score__text">
          {{ content.field_paragraphs_text|field_value }}
        </div>
      {% endif %}
      {% if content.field_paragraphs_icon.0 %}
        {# Print hidden score-icon markup - grabbed by javascript #}
        <div class="score__icon hidden">
          {{ content.field_paragraphs_icon|field_value }}
        </div>
      {% endif %}
    </div>
{% endblock %}
