{#
/**
 * @file
 * Theme override for a field.
 * Optimized field markup for icon fields (used in paragraph buttons)
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if multiple %}
  <div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
{% else %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
