{# Deprecated file - just leave the blocks here to prevent Twig errors #}
{% block background_image_opening_wrapper %}
  {# Deprecated block! #}
  <!-- Deprecated twig block background_image_opening_wrapper (drowl_paragraphs module) -->
{% endblock background_image_opening_wrapper %}

{% block background_image_closing_wrapper %}
  {# Deprecated block! #}
  <!-- Deprecated twig block background_image_closing_wrapper (drowl_paragraphs module) -->
{% endblock background_image_closing_wrapper %}
