{% block background_image %}
  {% if has_background_image %}
    {% if view_mode == 'preview' %}
      {# Show the chosen options + preview image in the (layout) Paragraph preview #}
      <div class="fancy-background-image__preview">
        <figure class="fancy-background-image__img-wrapper {{ background_image_class }}">
          {% if background_media_entity_bundle == 'video' %}
            {# Since we have no video preview image for now add an video icon instead #}
            <i class="drowl-admin-ico drowl-admin-ico-film"></i>
          {% endif %}
        </figure>
        <div class="fancy-background-image__preview-info">
          <strong>{{ 'Background-Image, with options:'|t }}</strong>
          {% if background_image_fixed or background_image_parallax or background_image_blurred or background_image_darken or background_image_lighten %}
            <ul>
              {% if background_image_fixed %}
                <li>
                  {{ 'Fixed Background (overscroll)'|t }}
                </li>
              {% endif %}
              {% if background_image_parallax %}
                <li>
                  {{ 'Parallax Effect (slowed down overscrolling)'|t }}
                </li>
              {% endif %}
              {% if background_image_blurred %}
                <li>
                  {{ 'Show blurred'|t }}
                </li>
              {% endif %}
              {% if background_image_lighten %}
                <li>
                  {{ 'Lighten Background'|t }}
                </li>
              {% endif %}
              {% if background_image_darken %}
                <li>
                  {{ 'Darken Background'|t }}
                </li>
              {% endif %}
            </ul>
          {% else %}
            -
          {% endif %}
        </div>
      </div>
    {% else %}
      {# Check if the fixed/parallax bgimage option is set - needs additional markup #}
      {% if has_background_image %}
        {{ attach_library('drowl_paragraphs/fancy_background_image') }}
      {% endif %}
      {% if background_image_parallax %}
        {{ attach_library('drowl_paragraphs/parallax') }}
      {% endif %}
      {# See drowl_paragraphs_types.module file for the according CSS code added to the page head (_drowl_paragraphs_types_preprocess_paragraph__layout_container()) #}
      <figure class="fancy-background-image__img-wrapper {{ background_image_class }}">
          {% if background_media_entity_bundle == 'video' %}
            {{ content.field_paragraphs_background_img }}
          {% endif %}
      </figure>
    {% endif %}
  {% endif %}
{% endblock background_image %}
