{% extends "paragraph--drowl-paragraphs-types--container.html.twig" %}

{% block content %}
  {{ attach_library('drowl_paragraphs_types/containers') }}
  {{- content|without('field_paragraphs_title', 'field_paragraphs_icon') -}}
{% endblock content %}
