{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{# Set onepage options #}
{% if paragraph.field_paragraphs_anchor_title.0 %}
  {% set container_anchor_menu_title = paragraph.get('field_paragraphs_anchor_title').value %}
  {# TODO: If id is set in paragraphs settings > expert, use this id instead of the generated id by the title #}
  {#% set container_anchor_target_id = paragraph.get('field_paragraphs_anchor_id').value|default(container_anchor_menu_title)|trim|clean_class %#}
  {% set container_anchor_target_id = container_anchor_menu_title|clean_class %}
  {% if container_anchor_target_id|length > 0 %}
    {% set attributes = attributes.setAttribute('id', container_anchor_target_id) %}
  {% endif %}
  {% if container_anchor_menu_title|length > 0 %}
    {% set attributes = attributes.setAttribute('data-magellan-target', container_anchor_target_id|clean_class).setAttribute('data-magellan-title', container_anchor_menu_title) %}
  {% endif %}
{% endif %}

{%
  set container_classes = [
    'paragraph',
    'paragraph--type-' ~ paragraph.bundle|clean_class,
    paragraph.field_paragraphs_link.0.url ? 'has-overlay-link',
    content.field_paragraphs_paragraphs['#items']|length > 1 ? 'equal-height-childs'
  ]
%}

{% block paragraph %}
  {# ======== Background image variables ======== #}
  {# Define background image variables in this seperate file to reduce the size of the container templates #}
  {# Prepare background image things #}
  {% set has_background_image = content.field_paragraphs_background_img.0 ? true : false %}
  {% set background_image_attributes = create_attribute() %}
  {% set background_image_fixed = false %}
  {% set background_image_parallax = false %}
  {% set background_image_blurred = false %}
  {% set background_image_darken = false %}
  {% set background_image_lighten = false %}
  {% set background_image_text_dark = false %}
  {% set background_image_text_light = false %}

  {% for option in paragraph.field_paragraphs_bgimage_options %}
      {% if option.value == 'background_fixed' %}
        {% set background_image_fixed = true %}
      {% endif %}
      {% if option.value == 'background_parallax' %}
        {% set background_image_parallax = true %}
      {% endif %}
      {% if option.value == 'background_blurred' %}
        {% set background_image_blurred = true %}
      {% endif %}
      {% if option.value == 'background_darken' %}
        {% set background_image_darken = true %}
      {% endif %}
      {% if option.value == 'background_lighten' %}
        {% set background_image_lighten = true %}
      {% endif %}
      {% if option.value == 'text_dark' %}
        {% set background_image_text_dark = true %}
      {% endif %}
      {% if option.value == 'text_light' %}
        {% set background_image_text_light = true %}
      {% endif %}
  {% endfor %}

  {% set background_image_classes = [
      has_background_image ? 'fancy-background-image',
      (has_background_image and background_media_entity_bundle) ? 'fancy-background-image--bundle-' ~ background_media_entity_bundle|clean_class,
      background_image_fixed and not background_image_parallax ? 'fancy-background-image--fixed',
      background_image_parallax and not background_image_fixed ? 'fancy-background-image--parallax',
      background_image_parallax and background_image_fixed ? 'fancy-background-image--parallax',
      elements.regions['#settings'].layout_section_width == 'page-width' ? 'grid-container',
      background_image_blurred ? 'fancy-background-image--blurred',
      background_image_darken ? 'fancy-background-image--darken',
      background_image_lighten ? 'fancy-background-image--lighten',
      background_image_text_dark ? 'fancy-background-image--text-dark',
      background_image_text_light ? 'fancy-background-image--text-light'
    ]
  %}
  {# Merge custom classes set by the user #}
  {% if paragraph.field_paragraphs_bgimage_classes.0 %}
    {% set background_image_classes = background_image_classes|merge(paragraph.field_paragraphs_bgimage_classes.value|split(' ')) %}
  {% endif %}
  {# ======== END Background image variables ======== #}

  {% if background_image_classes %}
    {% set container_classes = container_classes|merge(background_image_classes) %}
  {% endif %}

  <div{{ attributes.addClass(container_classes) }}>
    {# Get fancy background image container markup #}
    {{ include('@drowl_paragraphs_types/includes/fancy_background_image.html.twig') }}

    {# Overlay link #}
    {% if paragraph.field_paragraphs_link.0 is not empty %}
        {% set paragraph_overlay_link = paragraph.field_paragraphs_link[0] %}
        <a class="container-overlay-link overlay-link {{ paragraph_overlay_link.url.options.attributes.class|join(' ') }}" title="{{ paragraph_overlay_link.title }}" href="{{ paragraph_overlay_link.url.toString }}" {% if paragraph_overlay_link.url.options.attributes.target %} target="{{ paragraph_overlay_link.url.options.attributes.target }}" {% endif %}>
            {{ paragraph_overlay_link.title }}
        </a>
    {% endif %}

    {# Add upublished label #}
    {{ block("unpublished_hint", "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig") }}
    {% block content %}
      {{- content|without('field_paragraphs_background_img', 'field_paragraphs_bgimage_options') -}}
    {% endblock content %}
  </div>
{% endblock paragraph %}
