{% extends "paragraph--drowl-paragraphs-types.html.twig" %}
{#
/**
 * @file
 * Paragraph type "link int/ext" aka Button.
 *
 * % extends "paragraph.html.twig" %
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{#
  Create a custom attributes array, instead using the irregular link attributes,
  so we are able to use the regular attributes methods.
#}
{% set button_attributes = create_attribute() %}
{# Merge in link attributes #}
{% if content.field_paragraphs_link.0['#url'].options.attributes %}
  {% for attr_key, attr_value in content.field_paragraphs_link.0['#url'].options.attributes %}
    {% set button_attributes = button_attributes.setAttribute(attr_key, attr_value) %}
  {% endfor %}
{% endif %}

{# TODO: Quickfixed - something went wrong with twig_tweaks drupal_field - so get it from the entity #}
{# TODO: Checkout: https://www.drupal.org/project/drowl_paragraphs/issues/3192829 #}
{# {% set taxonomy_ref_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_paragraphs_item_color.value.0.target_id) %} #}
{% if paragraph.field_paragraphs_item_color.value.0.target_id %}
  {% set color_taxonomy_term = drupal_entity('taxonomy_term', paragraph.field_paragraphs_item_color.value.0.target_id) %}
  {% set button_color = color_taxonomy_term['#taxonomy_term'].fields.field_css_classes.value %}
{% endif %}

{%
  set button_classes = [
    'button',
    paragraph.field_paragraphs_item_size.value|clean_class,
    button_color ? button_color|clean_class,
    paragraph.field_paragraphs_item_size.value|clean_class
  ]
%}

{# Add further classes from multivalue options field #}
{% if paragraph.field_paragraphs_button_options and paragraph.field_paragraphs_button_options|length > 0 %}
    {% for class in paragraph.field_paragraphs_button_options %}
        {% set button_classes = button_classes|merge([class.value|replace({'_' : '-'})]) %}
    {% endfor %}
{% endif %}

{% block content %}
  {% apply spaceless %}
    <a{{ button_attributes.addClass(button_classes) }} href="{{ paragraph.field_paragraphs_link.0.url.toString }}">
      {% if content['field_paragraphs_icon'] %}
        {{- content['field_paragraphs_icon'] -}}
      {% endif %}
      <span class="button__label">{{ paragraph.field_paragraphs_link.0.title }}</span>
    </a>
  {% endapply %}
{% endblock content %}
