{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{# To archive equal height cards like: https://codepen.io/rafibomb/pen/MJWQZZ
   we make the paragraph wrapper the card wrapper.
#}

{% set card_type = paragraph.field_paragraphs_card_type.value %}
{% set link_field = content.field_paragraphs_link.0 %}
{% set link_label = link_field['#title'] == link_field['#url'].toString() ? '' : link_field['#title']|default('read on'|t) %}
{% set target_url = link_field['#url'] %}
{% set card_button_classes = card_type == 'tile' ? ['button', 'white', 'hollow'] : ['button', 'primary', 'expanded'] %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/cards') }}

  {# Check if it's an external link > set target blank #}
  {% if link_field['#options'].external == true %}
    {% set link_attributes = { 'class':['card__link'], 'target': '_blank' } %}
    {% set button_link_attributes = { 'class':card_button_classes, 'target': '_blank' } %}
  {% else %}
    {% set link_attributes = { 'class':['card__link'] } %}
    {% set button_link_attributes = { 'class':card_button_classes } %}
  {% endif %}

  {% if not content.field_paragraphs_image.0.field_image is empty %}
    {% set image %}
      {{ include('@drowl_paragraphs_types/includes/flexible_image.html.twig', {
        image_field: content.field_paragraphs_image.0.field_image,
        image_is_zoomable: paragraph.field_paragraphs_image_zoomable.value,
        responsive_image_size: paragraph.field_paragraphs_resp_imagestyle.value.0.target_id,
        image_link: paragraph.field_paragraphs_link.value,
        image_link_attributes: link_attributes
      }) }}
    {% endset %}
  {% endif %}

  {%
    set card_classes = [
      'paragraph',
      content.field_paragraphs_nodeentityref.0 ? 'paragraph--entity-view-mode-' ~ content.field_paragraphs_nodeentityref.0['#view_mode']|clean_class,
      'paragraph--type-' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      'card',
      'card--paragraph',
      card_type == 'tile' ? 'card--tile',
      image_zoomable ? 'card--image-zoom' : '',
      'scale' in responsive_image_size ? 'card--image-scale' : '',
    ]
  %}

  {% block content %}
    {# Add upublished label #}
    {{ block("unpublished_hint", "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig") }}

    {# Add classes from the link custom classes field #}
    {# Classes need to be seperated by space #}
    {% if content.field_paragraphs_link.0['#options'].attributes.class is iterable %}
      {% set card_button_classes = card_button_classes|merge(content['field_paragraphs_link'][0]['#options']['attributes']['class']) %}
    {% endif %}

    <div {{ attributes.addClass(card_classes) }}>
      {{ title_prefix }}
      {{ title_suffix }}
      {% if image %}
        {% block card_image %}
          <div class="card__image card-image">
            {{ image }}
          </div>
        {% endblock card_image %}
      {% endif %}
      <div class="card__content card-section">
        <div class="card__content-inner">
          {% if content.field_paragraphs_title.0 %}
            {% block card_title %}
              <div class="card__title h3{% if content.field_paragraphs_subtitle.0 %} has-subline{% endif %}">
                {% if target_url %}
                  {{ link(content.field_paragraphs_title|field_value, target_url, link_attributes) }}
                {% else %}
                  {{ content.field_paragraphs_title|field_value }}
                {% endif %}
              </div>
            {% endblock card_title %}
          {% endif %}
          {% if content.field_paragraphs_subtitle.0 %}
            {% block card_subline %}
              <div class="card__subline subline">
                {{ content.field_paragraphs_subtitle|field_value }}
              </div>
            {% endblock card_subline %}
          {% endif %}
          {% if content.field_paragraphs_text.0 %}
            {% block card_teaser %}
            <div class="card__teaser">
              {{ content.field_paragraphs_text|field_value }}
            </div>
            {% endblock card_teaser %}
          {% endif %}
          {% if link_label and target_url %}
            {% block card_buttons %}
              <div class="card__buttons">
                {{- link(link_label, target_url, button_link_attributes) -}}
              </div>
            {% endblock card_buttons %}
          {% elseif link_field['#url'] %}
            {% block card_overlay_link %}
              {{- link(link_label, target_url, link_attributes) -}}
            {% endblock card_overlay_link %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock content %}
{% endblock paragraph %}
