{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{%
  set classes = [
    'paragraph',
    'paragraph--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}

{% set tab_acc_attributes = create_attribute() %}
{%
  set tab_acc_classes = [
    paragraph.field_paragraphs_tabs_acc_type.value == "accordion" ? "accordion" : "tabs"
  ]
%}
{% if paragraph.field_paragraphs_tabs_acc_type.value == "accordion" %}
  {# Accordion on all devices. #}
  {% set tab_acc_data_conf = "accordion" %}
{% elseif paragraph.field_paragraphs_tabs_acc_type.value == "tabs_only" %}
  {# Tabs on all devices. #}
  {% set tab_acc_data_conf = "tabs" %}
{% else %}
  {# Responsive Tabs => Becomes Accordion on small and medium devices. #}
  {% set tab_acc_data_conf = "accordion large-tabs" %}
{% endif %}

{% if paragraph.field_paragraphs_init_opened_tab.value == 'none' %}
  {% set all_panes_closed_on_init = true %}
{% else %}
  {% set all_panes_closed_on_init = false %}
{% endif %}

{% if paragraph.field_paragraphs_all_closable.value %}
  {% set tab_acc_attributes = tab_acc_attributes.setAttribute('data-allow-all-closed', 'true') %}
{% endif %}

{% if paragraph.field_paragraphs_multiple_open.value %}
  {% set tab_acc_attributes = tab_acc_attributes.setAttribute('data-multi-expand', 'true') %}
{% endif %}

{% block paragraph %}
    {% if view_mode == 'preview' %}
      {#
        Dont' remove this preview check - otherwise you will run into layout pragraphs issues, see:
        https://www.drupal.org/project/drowl_paragraphs/issues/3228383
        Also don't remove the wrapper div, see:
        https://www.drupal.org/project/drowl_paragraphs/issues/3265862
      #}
      <div{{ attributes.addClass(classes) }}>
        {# Add upublished label #}
        {{ block("unpublished_hint", "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig") }}
        {{ content }}
      </div>
    {% else %}
      {{ attach_library('drowl_paragraphs_types/containers') }}
      {{ attach_library('foundation_sites/responsiveAccordionTabs') }}
      <div{{ attributes.addClass(classes).setAttribute('id', 'tab-outer-wrapper-' ~ paragraph.id()) }}>
          {# Add upublished label #}
          {{ block("unpublished_hint", "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig") }}
          <ul{{ tab_acc_attributes.addClass(tab_acc_classes) }} id="tab-wrapper-{{ paragraph.id() }}" data-responsive-accordion-tabs="{{ tab_acc_data_conf }}" data-deep-link="true" data-deep-link-smudge="true">
              {% for key, item in content.field_paragraphs_paragraphs['#items'] %}
                  {% set tab_icon = drupal_field('field_paragraphs_icon', 'paragraph', item.target_id) %}
                  {% set tab_label = drupal_field('field_paragraphs_title', 'paragraph', item.target_id) %}
                  {% set tab_custom_id = drupal_entity('paragraph', item.target_id)['#paragraph'].field_paragraphs_anchor_id.value %}
                  <li class="tabs-title{% if paragraph.field_paragraphs_init_opened_tab.value and paragraph.field_paragraphs_init_opened_tab.value == loop.index %} is-active{% endif %}">
                      <a href="{% if tab_custom_id %}#{{ tab_custom_id }}{% else %}#tab-pane-{{ item.target_id }}{% endif %}"{% if loop.first %} aria-selected="true"{% endif %}>
                        {% if tab_icon %}
                          {{ tab_icon }}
                        {% endif %}
                        {{ tab_label }}
                      </a>
                  </li>
              {% endfor %}
          </ul>
          <div class="tabs-content" data-tabs-content="tab-wrapper-{{ paragraph.id() }}">
              {% block content %}
                  {% for key, item in content.field_paragraphs_paragraphs['#items'] %}
                      {% set tab_custom_id = drupal_entity('paragraph', item.target_id)['#paragraph'].field_paragraphs_anchor_id.value %}
                      <div class="tabs-panel tabs-panel--spaceless{% if paragraph.field_paragraphs_init_opened_tab.value and paragraph.field_paragraphs_init_opened_tab.value == loop.index %} is-active{% endif %}"
                          id="{% if tab_custom_id %}{{ tab_custom_id }}{% else %}tab-pane-{{ item.target_id }}{% endif %}">
                          {{- content.field_paragraphs_paragraphs[key] -}}
                      </div>
                  {% endfor %}
              {% endblock content %}
          </div>
      </div>
    {% endif %}
{% endblock paragraph %}
