{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{% block content %}
  {{ attach_library('drowl_paragraphs_types/containers') }}
  {{- content|without('field_paragraph_settings') -}}
{% endblock content %}
