{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/images_galleries') }}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% if not content.field_paragraphs_image.0 is empty %}
    {{ include('@drowl_paragraphs_types/includes/flexible_image.html.twig', {
      image_field: content.field_paragraphs_image.0.field_image,
      image_is_zoomable: paragraph.field_paragraphs_image_zoomable.value,
      responsive_image_size: paragraph.field_paragraphs_resp_imagestyle.value.0.target_id,
      image_link: paragraph.field_paragraphs_link.value,
      image_shape: paragraph.field_paragraphs_image_shape.value
    }) }}
  {% endif %}
{% endblock content %}
