{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/attachments') }}
  {# Add upublished label #}
  {{ block("unpublished_hint", "@drowl_paragraphs_types/paragraph--drowl-paragraphs-types.html.twig") }}
  {% set embeded_entity_view_mode = paragraph.field_paragraphs_nodeentityrefvm.value ? paragraph.field_paragraphs_nodeentityrefvm.value|clean_class : 'default' %}
  <div{{ attributes.addClass(classes).addClass('paragraph--embeded-entity-view-mode-' ~ embeded_entity_view_mode) }}>
    {% block content %}
      {{ parent() }}
    {% endblock content %}
  </div>
{% endblock %}
