{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/images_galleries') }}
  {{ parent() }}
{% endblock %}

{% block content %}
    {% set gallery_attributes = create_attribute() %}
    {#
      Faking the field markup really sucks - but for now its the easiest
      way to get this paragraph settings to work.
    #}
    {%
      set gallery_classes = [
        'field',
        'field--fake-field-markup',
        'field--gallery-grid',
        paragraph.field_paragraphs_gallery_columns.value ? 'field--gallery-grid--' ~ paragraph.field_paragraphs_gallery_columns.value ~ '-cols',
        paragraph.field_paragraphs_image_zoomable.value ? 'photoswipe-gallery'
      ]
    %}
    {{ attach_photoswipe() }}
    <div{{ gallery_attributes.addClass(gallery_classes) }}>
      <div class="field__items">
        {% for key, item in content.field_paragraphs_gallery['#items'] %}
          <div class="field__item">
            {#
              We had cases, where empty items existed here, resulted in an empty field__item tag,
              so we need to check for empty here.
            #}
            {% if item.target_id %}
              {{ include('@drowl_paragraphs_types/includes/flexible_image.html.twig', {
                image_field: drupal_field('field_image', 'media', item.target_id),
                image_is_zoomable: paragraph.field_paragraphs_image_zoomable.value,
                responsive_image_size: paragraph.field_paragraphs_resp_imagestyle.value.0.target_id|default('page_width_scale')
              }) }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
