{% extends "paragraph--drowl-paragraphs-types.html.twig" %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/images_galleries') }}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% if not content.field_paragraphs_image.0 is empty %}
    {# Generate CSS Code for the clip-path option #}
    {% if paragraph.field_image_clip_path.value %}
      <style>
        .css-shape-{{ paragraph.id() }}{
          {{ paragraph.field_image_clip_path.value }}
          {{ paragraph.field_image_clip_path.value.toString()|replace({"clip-path": "shape-outside"}) }}
        }
      </style>
    {% endif %}

    {% set image %}
      {{ include('@drowl_paragraphs_types/includes/flexible_image.html.twig', {
        image_field: content.field_paragraphs_image.0.field_image,
        image_is_zoomable: paragraph.field_paragraphs_image_zoomable.value,
        responsive_image_size: paragraph.field_paragraphs_resp_imagestyle.value.0.target_id,
        image_link: paragraph.field_paragraphs_link.value
      }) }}
    {% endset %}

    {% set media_align = paragraph.field_paragraphs_media_alignment.value|default('col_left') %}

    {% if media_align == 'float_left' or media_align == 'float_right' %}
      {# Floated image #}
      <div class="clearfix">
        <div class="{% if media_align == 'float_left' %}embed-left{% else %}embed-right{% endif %}{% if paragraph.field_image_clip_path.value %} css-shape-{{ paragraph.id() }}{% endif %}">
          {{ image }}
        </div>
        {# CSS-Shape need the text field without a field wrapper to work #}
        {{ content.field_paragraphs_text|field_value }}
        {{- content|without('field_paragraph_settings',
            'field_paragraphs_text',
            'field_paragraphs_image',
            'field_paragraphs_image_zoomable',
            'field_paragraphs_media_alignment',
            'field_paragraphs_resp_imagestyle') -}}
      </div>
    {% else %}
      {# Image + Text seperated in strict coloums #}
      <div class="grid-x grid-margin-x grid-margin-y{% if media_align == 'col_right' %} flex-dir-row-reverse{% endif %}">
        <div class="cell small-12 medium-5 paragraph--type-image-text__media-cell{% if paragraph.field_image_clip_path.value %} css-shape-{{ paragraph.id() }}{% endif %}">
          {{ image }}
        </div>
        <div class="cell small-12 medium-7 paragraph--type-image-text__content-cell">
          {{- content|without('field_paragraph_settings',
              'field_paragraphs_image',
              'field_paragraphs_image_zoomable',
              'field_paragraphs_media_alignment',
              'field_paragraphs_resp_imagestyle') -}}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}
