{% extends "paragraph--drowl-paragraphs-types.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * % extends "paragraph.html.twig" %
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% set media_align = paragraph.field_paragraphs_media_alignment.value|default('col_left') %}

  {% if media_align == 'float_left' or media_align == 'float_right' %}
    {# Floated image #}
    <div class="clearfix">
      <div class="{% if media_align == 'float_left' %}embed-left{% else %}embed-right{% endif %}">
        {{ content.field_paragraphs_video }}
      </div>
        {{- content|without('field_paragraph_settings',
            'field_paragraphs_video',
            'field_paragraphs_media_alignment') -}}
    </div>
  {% else %}
    {# Image + Text seperated in strict coloums #}
    <div class="grid-x grid-margin-x{% if media_align == 'col_right' %} flex-dir-row-reverse{% endif %}">
      <div class="cell small-12 medium-5">
        {{ content.field_paragraphs_video }}
      </div>
      <div class="cell small-12 medium-7">
        {{- content|without('field_paragraph_settings',
            'field_paragraphs_video',
            'field_paragraphs_media_alignment') -}}
      </div>
    </div>
  {% endif %}
{% endblock content %}