{% extends "paragraph--drowl-paragraphs-types.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * % extends "paragraph.html.twig" %
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Get fields from referenced entities #}
{% if paragraph.field_paragraphs_item_color.value.0.target_id %}
  {% set taxonomy_ref_icon_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_paragraphs_item_color.value.0.target_id) %}
{% endif %}
{% if paragraph.field_paragraphs_icon_ci_color.value.0.target_id %}
  {% set taxonomy_ref_circle_color_field = drupal_field('field_css_classes', 'taxonomy_term', paragraph.field_paragraphs_icon_ci_color.value.0.target_id) %}
{% endif %}

{# Determine if there is any text contetn, or just the icon #}
{% if content.field_paragraphs_title.0 or content.field_paragraphs_text.0 %}
  {% set has_any_text = true %}
{% else %}
  {% set has_any_text = false %}
{% endif %}

{# Icon classes (<i>) #}
{# Determine if the new icon module "micons" is used (instead of the old fontawesome implementation) #}
{% set icon_attributes = create_attribute() %}
{%
  set icon_classes = [
    'icon-combo__icon',
    'ico',
    'ico--' ~ paragraph.field_paragraphs_item_size.value|clean_class,
    paragraph.field_paragraphs_icon.0 ? paragraph.field_paragraphs_icon.value|clean_class,
    taxonomy_ref_icon_color_field.0 ? 'text-' ~ taxonomy_ref_icon_color_field.0['#context'].value|clean_class,
    taxonomy_ref_circle_color_field.0 ? 'bg-' ~ taxonomy_ref_circle_color_field.0['#context'].value|clean_class
  ]
%}
{# Add further classes from multivalue options field #}
{% for option in paragraph.field_paragraphs_icon_options %}
  {# Add option classes to icon classes #}
  {% if option.value is not empty %}
    {% set icon_classes = icon_classes|merge([option.value|replace({'_' : '-'})|clean_class]) %}
  {% endif %}
{% endfor %}

{# Icon combo wrapper classes #}
{% set icon_combo_attributes = create_attribute() %}
{%
  set icon_combo_classes = [
    'icon-combo',
    paragraph.field_paragraphs_link.0 ? 'icon-combo--linked'
  ]
%}
{# Add further classes from positions field #}
{% for option in paragraph.field_paragraphs_icon_position %}
  {# Add option classes to icon classes #}
  {% if option.value is not empty %}
    {% set icon_combo_classes = icon_combo_classes|merge(['icon-combo--' ~ option.value|replace({'_' : '-'})|clean_class]) %}
  {% endif %}
{% endfor %}

{% block paragraph %}
  {{ attach_library('drowl_paragraphs_types/symbols') }}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% if content.field_paragraphs_link.0 %}
    <a{{ icon_combo_attributes.addClass(icon_combo_classes) }} href="{{ paragraph.field_paragraphs_link.0.url.toString }}"{% if paragraph.field_paragraphs_link.0.url.external %} target="_blank"{% endif %}>
  {% else %}
    <div{{ icon_combo_attributes.addClass(icon_combo_classes) }}>
  {% endif %}
    {% if content.field_paragraphs_icon.0 %}
      <i{{ icon_attributes.addClass(icon_classes) }}><span class="hidden empty-check-placeholder">Icon</span></i>
    {% endif %}
      {% if has_any_text %}
        <div class="icon-combo__text-wrapper">
          {% if content.field_paragraphs_title.0 %}
            <h3 class="icon-combo__heading{% if content.field_paragraphs_subtitle.0 %} has-subline{% endif %}">
              {{ content.field_paragraphs_title|field_value }}
            </h3>
            {% if content.field_paragraphs_subtitle.0 %}
              <div class="icon-combo__subline subline">
                {{ content.field_paragraphs_subtitle|field_value }}
              </div>
            {% endif %}
          {% endif %}
          {% if content.field_paragraphs_text.0 %}
            <div class="icon-combo__text">{{ content.field_paragraphs_text|field_value }}</div>
          {% endif %}
        </div>
      {% endif %}
  {% if content.field_paragraphs_link.0 %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endblock content %}
