@import "../../../scss/base";

.drowl-paragraphs-styles {
  margin-top: 2rem;
  &__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__styles {
    display: grid;
    // TODO:
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.4rem;
  }
  &__item {
    position: relative;
    overflow: hidden;
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 5px;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 0.1rem 0.85rem;
    cursor: pointer;
    user-select: none;
    &::before {
      /* TODO: Replace icon with drowl-admin-iconset checkmark icon */
      @include get-ico-only(
        $drowl-admin-ico-check,
        $iconfont-family: $admin-iconfont-family
      );
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      padding: 0 2px 2px 0;
      background-color: var(--drowl-green, green);
      color: white;
      border-radius: 0 0 5px 0;
      transition-duration: 80ms;
      transition-timing-function: linear;
      transition-property: opacity, transform;
      opacity: 0;
      // We need only scale() here, but for BUG-reasons, scale moves this down
      // a fews pixels (on scale(1)), what doesnt make any sense.
      // So compensate this by translate for now.
      transform: scale(0) translateY(-2px);
      transform-origin: 0 0;
    }
    &-image {
      grid-row: 1/3;
      line-height: 0;
    }
    &-name {
      grid: 1/2;
      align-self: end;
      font-weight: bold;
    }
    &-desc {
      grid: 2/3;
      font-size: small;
    }
    &:hover {
      border-color: var(--drowl-info-light, blue);
    }
    &--active {
      border-color: var(--drowl-green, green);
      &::before {
        transform: scale(1) translateY(-2px);
        opacity: 1;
      }
    }
  }
  &__reset {
    margin-top: 1rem;
  }
}
