{#
/**
 * @file
 * Template base file for our drowl layout template files.
 *
 * This template provides a base from which the other layout slideshow template
 * files inherit from.
 * Global classes and blocks are defined here.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.slides
 */
#}

{# Ensure slick styles are loaded #}
{{ attach_library('slick/slick.css') }}
{{ attach_library('slick/slick.theme') }}

{# Define global drowl layout classes the other layouts will inherit from #}
{% set layout_settings = content['#layout_settings'] %}
{% set layout_container_attributes = create_attribute() %}
{% set row_attributes = create_attribute() %}
{% set layout_extra_classes = layout_settings.extra_classes|split(' ') %}

{%
  set slideshow_wrapper_classes = [
    drowl_paragraphs_layout_in_preview ? '' : 'slick',
    'slick--skin--default',
    layout_settings.controls_outside ? 'slick--controls-outside',
    settings.attributes.class ? settings.attributes.class|join(' ')
  ]
%}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set top_rendered = content.top|render %}
{% set bottom_rendered = content.bottom|render %}

{% set layout_container_classes = [
    'drowl-layout-container',
    layout_settings.layout_section_width == 'viewport-width-cp' ? 'viewport-width',
    layout_settings.layout_section_width == 'viewport-width' ? 'viewport-width',
    layout_settings.layout_section_width == 'page-width' ? 'grid-container'
]%}

{% set layout_classes = [
    'drowl-layout',
    layout_settings.layout_section_width == 'viewport-width-cp' ? 'grid-container'
]%}

{# Custom extra classes #}
{% if layout_extra_classes and layout_extra_classes is iterable %}
    {% for class in layout_extra_classes %}
        {% set layout_classes = layout_classes|merge([class]) %}
    {% endfor %}
{% elseif layout_extra_classes %}
    {% set layout_classes = layout_classes|merge([layout_extra_classes]) %}
{% endif %}

{# Define default blocks #}
{% block layout_container_opener %}
    <div {{ layout_container_attributes.addClass(layout_container_classes) }}>
{% endblock layout_container_opener %}
    {% block layout_outer %}
        <div {{ attributes.addClass(layout_classes) }}>
          <div {{ slideshow_wrapper_attributes.addClass(slideshow_wrapper_classes) }}>
            <div {{ region_attributes.slides.addClass('slick__slider') }}>
              {#
                Put the layout "slide" regions paragraphs into an extra 'slick__slide'
                wrapper to fit the slick modules standards.
              #}
              {% if drowl_paragraphs_layout_in_preview %}
                {{ content.slides }}
              {% else %}
                {% for slide in content.slides %}
                  {# Ensure its a render array (and not attributes or something) #}
                  {% if slide['#theme'] %}
                    <div class="slick__slide">
                      {{ slide }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {% block slick_arrow %}
              {% if slideshow_settings.arrows %}
                <nav class="slick__arrow">
                  <button type="button" data-role="none" class="slick-prev slick-prev-custom" aria-label="{{ 'Previous'|t }}" tabindex="0">{{ 'Previous'|t }}</button>
                  <button type="button" data-role="none" class="slick-next slick-next-custom" aria-label="{{ 'Next'|t }}" tabindex="0">{{ 'Next'|t }}</button>
                </nav>
              {% endif %}
            {% endblock %}
          </div>
        </div>
    {% endblock layout_outer %}
{% block layout_container_closer %}
    </div>
{% endblock layout_container_closer %}
